<footer>
    <div class="container">
        <div class="row">
            <div class="col">
                <p>Copyright &copy; SpongePowered 2014-{{ currentYear }}. Powered by SystemOfADonwload: <a href="#">API Docs</a></p>

                <p>Accelerated by<br />
                <a href="https://www.fastly.com"><img src="https://www.spongepowered.org/assets/img/fastly.png" /></a></p>
            </div>
        </div>
    </div>
</footer>