<nav id="topbar">
    <div class="container">
        <div id="sp-logo-container" class="page-scroll">
            <a class="logo" href="#top">
                <img src="https://spongepowered.org/assets/img/icons/spongie-mark.svg" alt="" style="height: 40px">
                <span>Sponge</span>
                <i class="fa fa-fw fa-chevron-down"></i>
            </a>
            <div id="sp-logo-menu">
                <ul id="sp-logo-dropdown">
                    <li><a href="https://spongepowered.org"><i class="fa-fw fa fa-home"></i>Homepage</a></li>
                    <li><a href="https://forums.spongepowered.org"><i class="fa-fw fa fa-comments"></i>Forums</a></li>
                    <li><a href="https://github.com/SpongePowered"><i class="fa-fw fa fa-code"></i>Code</a></li>
                    <li><a href="https://docs.spongepowered.org"><i class="fa-fw fa fa-book"></i>Docs</a></li>
                    <li><a href="https://jd.spongepowered.org"><i class="fa-fw fa fa-graduation-cap"></i>Javadocs</a></li>
                    <li><a href="https://ore.spongepowered.org/"><img src="assets/img/icons/ore.svg" alt="" class="fa-fw fa ore-nav">Plugins (Ore)</a></li>
                    <li><a href="https://www.spongepowered.org/downloads"><i class="fa-fw fa fa-download"></i>Downloads</a></li>
                    <li><a href="chat"><i class="fa-fw fa fa-comment"></i>Chat</a></li>
                </ul>
            </div>
        </div>

        <!-- Brand and toggle get grouped for better mobile display -->
        <!--
        <div class="navbar-header page-scroll">
            <button class="navbar-toggle" data-toggle="collapse" data-target="#main-navbar-collapse">
                <i class="fa fa-bars"></i>
                <span class="sr-only">Toggle navigation</span>
            </button>
        </div>

        -->

        <div class="collapse navbar-collapse" id="main-navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
              <li>
                <a href="#login">Login</a>
              </li>
            </ul>
        </div>
    </div>
</nav>
