{% extends "layout.njk" %}

{% set title = "Sponge Downloads" %}

{% from "macros/download-categories.njk" import featuredDownload, otherDownload %}

{% block content %}
    <div class="row">
    {% for name, item in products %}
        {% if item.featured %}
            <div class="col-sm-6 offset-lg-1 col-lg-4">
                {{ featuredDownload(name, item.title, item.blurb) }}
            </div>
        {% endif %}
    {% endfor %}
    </div>

    <div class="row">
        <div class="col hr">
        </div>
    </div>

    <div class="row">
        <div class="col sponge-headline">
            <h2>Other Downloads</h2>
        </div>
    </div>
    {% for name, item in products %}
        {% if not item.featured %}
            {{ otherDownload(name, item.title) }}
        {% endif %}
    {% endfor %}
{% endblock %}
